/* SECCIÓN MAIN/HOME */

main img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 11px;
    opacity: 0.7;
}

main h2 {
    color: #615538;
    font-size: 28px;
    margin-bottom: 10px;
}

.bienvenidos {
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
}

.bienvenidos p {
    font-size: 20px;
    text-align: justify;
}

.fade-up {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 1s ease-out forwards;
}

.fade-delay-1 {
  animation-delay: 0.3s;
}

.fade-delay-2 {
  animation-delay: 0.6s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}