/* HISTORIA // NOSOTROS */

.historia p {
    font-size: 12px;
}

.personas {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.persona {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
    background-color: rgb(193, 197, 154);
}

.persona img {
  width: 120px;        
  height: 120px;       
  border-radius: 50%;  
  object-fit: cover;   
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 0 auto 10px auto; 
  opacity: 0.7;
  transition: opacity 0.3s ease;

}
.persona img:hover {
    opacity: 1;
}

/* .imagenes_reservas img {
    width: 100%;
    border-radius: 11px;
    margin-bottom: 20px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.imagenes_reservas img:hover {
    opacity: 1;
} */



.persona h5,
.persona h6{
    margin: 0;
    font-weight: normal;
    color: #64683f;
}
.persona h5 {
    font-size: 14px;
    margin-top: 5px;
}
.persona h6 {
    font-size: 11px;
    font-style: italic;
}
.persona p {
    color: #666;
    font-size: 10px;
}