/* RESERVAS */

.contacto {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 24px;
}

.datos p {
    font-size: 14px;
}

.datos ul li {
    font-size: 13px;
}

.formulario p {
    display: flex;
}

.formulario p label {
    min-width: 80px;
}

.formulario p label{
    display: flex;
    align-items: center;
}

.formulario p:nth-child(4) {
    align-items: start;
}

.formulario input[type="submit"] {
    background-color: #665265;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 16px;
    padding: 6px 20px;
    width: auto;
    position: relative;
    left: 50px;
    cursor: pointer;
}

.formulario input [type="submit"]:hover {
    background-color: #a58c55;
}

.formulario p {
    display: flex;
}

.formulario p input,
.formulario p textarea {
    width: 100%;
    background: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px 10px;
}

.formulario p label {
    min-width: 80px;
    display: flex;
    align-items: center;
}

.formulario textarea {
    height: 150px;
    resize: none;
}


.imagenes_reservas img {
    width: 100%;
    border-radius: 11px;
    margin-bottom: 20px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.imagenes_reservas img:hover {
    opacity: 1;
}