/* VARIETALES */

.varietales {
  opacity: 0;
  transform: translateX(-60px);
  transition: 
    opacity 0.7s ease-out,
    transform 0.7s cubic-bezier(0.22, 1, 0.36, 1);
}

.varietales.reverse {
  flex-direction: row-reverse;
  transform: translateX(60px);
}

.varietales.show {
  opacity: 1;
  transform: translateX(0);
}

.varietales .info h4{
    color: #615538;
    font-size: larger;
    font-weight: 700;
    font-style: italic;
    border-bottom: 1px solid #b4be77;
    padding-bottom: 10px;
}

.varietales.info p{
    font-size: 13px;
}

.varietales img{
    border-radius: 13px;
    display: block;
    margin: 0 auto;
    max-width: 225px; 
}

.varietales:nth-child(even) {
    flex-direction: row-reverse;
}